*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  position: relative;
}

.mask{
  width: 100%;
  height: 100%;
  background-image: url("maldives.jpg");
  background-position: center;
  background-size: cover;
  -webkit-mask-image: url(maldives.svg);
  mask-image: url(maldives.svg);
  mask-repeat: no-repeat;
  mask-size: 90vw;
  mask-position: center;
}

.content{
  color: white;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  h2{
    font-size: 12vw;
  }
}

@media screen and (max-width: 767px){
  .content{
    top: 15%;
    left: 20px;
    transform: translate(0, 0);
    
    h2{
      font-size: 18vw;
    }
  }
}